{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<style>
  h1{ font-size:60px;}
</style>
<h1>&nbsp;</h1>
    <h1  style="color:#87CEEB;text-align:center;background-color:;">Contactez nous</h1><br>

    {{ include('contact/_form.html.twig') }}

{% endblock %}
