
<div class="container">
        <div class="row">
                      <br>
              <div class="col-md-4">
                <center>
                
                </center>
              </div>
              <div class="col-md-4">
                <center>
                  <img src="{{asset('build/images/lo1.jpg')}}"  class="img-circle" alt="...">
                  <br>
                 
                </center>
              </div>
            
    </div>
<div class="container well">
    <h2 align="center"><U>Dream</U></h2>
		
	<h5 style="color:black" align="center"> Copyright &copy;<script>document.write(new Date().getFullYear());</script> Projet réalisée par <i class="icon-heart" aria-hidden="true"></i> Abdi Safa DSI 23
						</h5>
</div>
    
