<section id="content"><div class="ic">More Website Templates @ TemplateMonster.com - September22, 2014!</div>
  <div class="container_12">
    <div class="grid_4">
      <div class="banner">
        <a href="#" class="banner_title">love<br>them 
</a>
        <div class="maxheight"><img src="{{asset('images/icon1.png')}}" alt=""></div>
      </div>
    </div>
    <div class="grid_4">
      <div class="banner">
        <a href="#" class="banner_title">Join <br>
volunteer</a>
        <div class="maxheight"><img src="images/icon2.png" alt=""></div>
      </div>
    </div>
    <div class="grid_4">
      <div class="banner">
        <a href="#" class="banner_title">Help <br>
          them</a>
        <div class="maxheight"><img src="images/icon3.png" alt=""></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <article class="block-1">
    <div class="container_12">
      <div class="grid_16">
        <h2>together we can change many child life</h2>
       </div>
      <div class="clear"></div>
    </div>
  </article>
  <div class="container_12">
    <div class="grid_6">
      <div class="block-2">
        <img src="images/b_icon1.png" alt="">
        <div class="text1">Position<a href="#"></a></div>
        4% of South African children (the majority of them from the black community) live in destitution. The Limpopo Province is the area most affected by poverty. Children in this area face great risks living below the poverty line.      </div>
    </div>
    <div class="grid_6">
      <div class="block-2">
        <img src="images/b_icon2.png" alt="">
        <div class="text1"><a href="#">Care Ministries</a></div>
        we must care for these children and feel of their suffers and help them
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <span>   -------------------------------------------------------------------------------------------------
    <a class="btn btn-primary btn-lg" href="#">Donate Now</a>
    ------------------------------------------------------------------------------------------------------</span>
  <div class="clear sep-1"></div>
  <article class="carousel_wrapper">
    <div class="container_12">
      <div class="grid_12">
        <div id="owl">
          <div class="item">
            <div class="banner">
              <div class="banner_title">July 25</div>
              <p>The detailed description of the <a href="http://blog.templatemonster.com/free-website-templates/" rel="nofollow" class="color2">freebie</a> is published on the blog. <br><br>
              Find <a href="http://www.templatemonster.com/properties/topic/society-people/" rel="nofollow" class="color2">society &amp; people themes</a> in the same name category at TemplateMonster.com</p>
              <a href="#" class="owl_link">Read More</a>
            </div>
          </div>
          <div class="item">
            <div class="banner">
              <div class="banner_title">August 17</div>
              
              <p>Horem ipsum dolor sit tetur dipiscing elit. In mollis erat mattis neque facilisis, sit wertolio mero dasererat rutrumrem ipsum dolor sit tetur dipiscing elit. In mollis erat mattis neque facilisis</p>
              <a href="#" class="owl_link">Read More</a>
            </div>
          </div>
          <div class="item">
            <div class="banner">
              <div class="banner_title">September 10</div>
              <p>Jorem ipsum dolor sit tetur dipiscing elit. In mollis erat mattis neque facilisis, sit wertolio mero dasererat rutrumrem ipsum dolor sit tetur dipiscing elit. In mollis erat mattis neque facilisise </p>
              <a href="#" class="owl_link">Read More</a>
            </div>
          </div>
          <div class="item">
            <div class="banner">
              <div class="banner_title">July 25</div>
              <p>The detailed description of the <a href="http://blog.templatemonster.com/free-website-templates/" rel="nofollow" class="color2">freebie</a> is published on the blog. <br><br>
              Find <a href="http://www.templatemonster.com/properties/topic/society-people/" rel="nofollow" class="color2">society &amp; people themes</a> in the same name category at TemplateMonster.com</p>
              <a href="#" class="owl_link">Read More</a>
            </div>
          </div>
          <div class="item">
            <div class="banner">
              <div class="banner_title">August 17</div>
              
              <p>Horem ipsum dolor sit tetur dipiscing elit. In mollis erat mattis neque facilisis, sit wertolio mero dasererat rutrumrem ipsum dolor sit tetur dipiscing elit. In mollis erat mattis neque facilisis</p>
              <a href="#" class="owl_link">Read More</a>
            </div>
          </div>
          <div class="item">
            <div class="banner">
              <div class="banner_title">September 10</div>
              <p>Jorem ipsum dolor sit tetur dipiscing elit. In mollis erat mattis neque facilisis, sit wertolio mero dasererat rutrumrem ipsum dolor sit tetur dipiscing elit. In mollis erat mattis neque facilisise </p>
              <a href="#" class="owl_link">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </article>
</section>